name: JAVA CI Testing

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 18 for x64
        uses: actions/setup-java@v4
        with:
            java-version: '18'
            distribution: 'temurin'
            architecture: x64

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v4
        with:
          gradle-version: '8.4'

      - name: Build and run tests
        run: ./gradlew test --rerun-tasks